.layout-main {
    margin-left: 60px;
    padding-top: 75px;
    transition: margin-left 0.2s;
}

.layout-content-wrapper {
    margin: .75rem;
    padding: .75rem;
    border-radius: .25rem;
    background-color: var(--surface-a);
}

.layout-wrapper-static .layout-main {
    margin-left: 240px;
}
