<div class="layout-sidebar" [ngClass]="{ 'layout-sidebar-active': hovered }" (mouseenter)="hovered = true"
  (mouseleave)="hovered = false">
  <div class="sidebar-logo">
    <a (click)="onLockChange()" class="sidebar-pin" title="Toggle Menu">
      <em [ngClass]="{'pi-lock-open': !locked, 'pi-lock': locked}" class="pi"></em>
    </a>
    <a routerLink="/home">
      <img alt="logo" src="assets/logo.svg" />
      <span class="app-name">FinServe</span>
    </a>
  </div>
  <div class="layout-menu-container">
    <div class="layout-menu">
      <ng-container *ngFor="let item of items">
        <app-sidebar-menu-item *appHasRoles="item.state?.['roles']" [item]="item"></app-sidebar-menu-item>
      </ng-container>
    </div>
  </div>
</div>