/* You can add global styles to this file, and also import other style files */

@import "~primeng/resources/themes/lara-light-blue/theme.css";
@import "~primeng/resources/primeng.css";
@import '~primeflex/primeflex.css';
@import "~primeicons/primeicons.css";

body {
    margin: 0;
    background-color: var(--surface-b);
    font-family: "Helvetica Neue", sans-serif;
}

.app-table th {
    padding: 0.5rem;
    text-align: left;
}

.app-table .column-expand {
    width: 3rem;
}

.app-table .cell-data {
    overflow-wrap: break-word;
}

.app-table tr.app-table-tr-completed {
    background-color: var(--green-100);
}

.app-table .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody tr.app-table-tr-completed:not(.p-highlight):hover {
    background-color: var(--green-200);
}

.app-table tr.app-table-tr-failed {
    background-color: var(--red-100);
}

.app-table .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody tr.app-table-tr-failed:not(.p-highlight):hover {
    background-color: var(--red-200);
}
